In [1]:
import sys
!{sys.executable} -m pip install plotly

Requirement already satisfied: plotly in c:\users\user\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [2]:
import sys
!{sys.executable} -m pip install pyxlsb

Requirement already satisfied: pyxlsb in c:\users\user\anaconda3\lib\site-packages (1.0.9)

In [3]:
import sys
!{sys.executable} -m pip install xlutils

Requirement already satisfied: xlutils in c:\users\user\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: xlwt>=0.7.4 in c:\users\user\anaconda3\lib\site-packages (from xlutils) (1.3.0)
Requirement already satisfied: xlrd>=0.7.2 in c:\users\user\anaconda3\lib\site-packages (from xlutils) (2.0.1)

In [4]:
import numpy

In [5]:
my_list = [4,1,5,2]

In [6]:
type(my_list)

list

In [7]:
my_array = numpy.array([4,1,5,2])

In [8]:
type(my_array)

numpy.ndarray

In [9]:
my_list * 2

[4, 1, 5, 2, 4, 1, 5, 2]

In [10]:
my_array * 2

array([ 8,  2, 10,  4])

In [11]:
my_coerced_array = ([1,2,3,'Boo!'])

In [12]:
type(my_coerced_array)

list

In [13]:
my_coerced_array * 2

[1, 2, 3, 'Boo!', 1, 2, 3, 'Boo!']

In [14]:
my_coerced_array = numpy.array([1,2,3,'Boo!'])

In [15]:
type(my_coerced_array)

numpy.ndarray

In [16]:
my_coerced_array

array(['1', '2', '3', 'Boo!'], dtype='<U11')

In [17]:
import numpy as np

In [18]:
np.sqrt(my_array)

array([2.        , 1.        , 2.23606798, 1.41421356])

In [19]:
import pandas as pd

In [20]:
record_1 = np.array(["Crownthirst", 24, True])
record_2 = np.array(['Khalil', 20, False])
record_3 = np.array(['Tfk',21, True])
record_4 = np.array(['Chef', 23, True])
record_5 = np.array(['Skeleh', 24, False])
roster = pd.DataFrame(data = [record_1, record_2, record_3, record_4, record_5], columns = (['name', 'age', 'Injury']))

In [21]:
roster

          name age Injury
0  Crownthirst  24   True
1       Khalil  20  False
2          Tfk  21   True
3         Chef  23   True
4       Skeleh  24  False

In [22]:
import seaborn as sns

In [23]:
 sns.get_dataset_names()

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [ ]:
iris = sns.load_dataset('iris')

In [ ]:
iris.head()

In [24]:
import os

In [25]:
os.path.isfile('test-file.csv')

True

In [26]:
os.path.isfile('test-folder/test-file.csv')

True

In [27]:
os.path.isfile('../test-file.csv')

True

In [28]:
star = pd.read_excel('datasets/star/star.xlsx')

In [29]:
star.head()

,tmathssk,treadssk,classk,totexpk,sex,freelunk,race,schidkn
0,473,447,small.class,7,girl,no,white,63
1,536,450,small.class,21,girl,no,black,20
2,463,439,regular.with.aide,0,boy,yes,black,19
3,559,448,regular,16,boy,no,white,69
4,489,447,small.class,5,boy,yes,white,79

In [30]:
districts = pd.read_csv('datasets/star/districts.csv')

In [31]:
districts.head()

   schidkn      school_name       county
0        1          Rosalia  New Liberty
1        2  Montgomeryville       Topton
2        3             Davy     Wahpeton
3        4         Steelton    Palestine
4        6       Tolchester      Sattley

In [32]:
star.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5748 entries, 0 to 5747
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tmathssk  5748 non-null   int64
 1   treadssk  5748 non-null   int64
 2   classk    5748 non-null   object
 3   totexpk   5748 non-null   int64
 4   sex       5748 non-null   object
 5   freelunk  5748 non-null   object
 6   race      5748 non-null   object
 7   schidkn   5748 non-null   int64
dtypes: int64(4), object(4)
memory usage: 359.4+ KB

In [33]:
star.describe()

          tmathssk     treadssk      totexpk      schidkn
count  5748.000000  5748.000000  5748.000000  5748.000000
mean    485.648051   436.742345     9.307411    39.836639
std      47.771531    31.772857     5.767700    22.957552
min     320.000000   315.000000     0.000000     1.000000
25%     454.000000   414.000000     5.000000    20.000000
50%     484.000000   433.000000     9.000000    39.000000
75%     513.000000   453.000000    13.000000    60.000000
max     626.000000   627.000000    27.000000    80.000000

In [34]:
roster.iloc[0,0]

'Crownthirst'

In [35]:
roster.iloc[1:4,0:3]

     name age Injury
1  Khalil  20  False
2     Tfk  21   True
3    Chef  23   True

In [38]:
roster.loc[:, 'age']

0    24
1    20
2    21
3    23
4    24
Name: age, dtype: object